<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta property="og:title" content="#MacFriends - Share your sticker on Macbook">
  <meta property="og:type" content="website">
  <meta property="og:description" content="世界中のMacbookの背面をシェアします。">
  <meta property="og:url" content="http://macfriends.net">
  <meta property="og:image" content="http://d3l9vlz9go6pun.cloudfront.net/og_image.png">
  <meta name="Description" content="Share your sticker on Macbook with the hashtag #MacFriends" />
  <link href="css/bootstrap1.css" rel="stylesheet">
  <link href="css/lightbox.css" rel="stylesheet" />
  <link href="css/font-awesome.min.css" rel="stylesheet">
  <link href="css/main.css" rel="stylesheet">
  <link rel="alternate" type="application/rss+xml" title="#MacFriends" href="http://rssc.dokoda.jp/r/cda48350a459151cbe5f7c525e141498/http/macfriends.net/">
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
  <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
  ga('create', 'UA-48511895-1', 'macfriends.net');
  ga('send', 'pageview');
  </script>
  <script src="js/jquery-1.11.0.min.js"></script>
  <script src="js/lightbox.min.js"></script>
  <script src="js/bootstrap.js"></script>
  <title>#MacFriends - category</title>
</head>
<body>

  <!-- Fixed navbar -->
  <div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">#MacFriends</a>
      </div>
      <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-right">
          <li><a href="/">HOME</a></li>
          <li><a href="/about">ABOUT</a></li>
          <li><a href="/rank">RANKING</a></li>
          <li class="active"><a href="/category">CATEGORY</a></li>
          <li><a href="https://twitter.com/MacFriends_"><i class="fa fa-twitter"></a></i></li>
        </ul>
      </div><!--/.nav-collapse -->
    </div>
  </div>

  <div id="headerwrap">
    <div class="container">
      <div class="row centered">
        <h1 id="large-title">Community starts <br>with friendship!</h1>
        <h2>Share your sticker on </br>Macbook with the hashtag <a href="https://twitter.com/MacFriends_">#MacFriends</a></h2>
      </div><!-- row -->
    </div><!-- container -->
  </div><!-- headerwrap -->

  <div class="container w">
    <div class="row centered">

    <ul class="nav nav-tabs nav-justified">
      <li class="active tag"><a href="#home" data-toggle="tab">ホーム</a></li>
      <% @tags.each do |row| %>
      <li class="tag"><a href="#<%= row['hashtags'] %>" data-toggle="tab">#<%= row["hashtags"] %></a></li>
      <% end %>
    </ul>

    <div class="tab-content" style="margin-top:10px">

      <div class="tab-pane active" id="home">
        <div class="container w">
          <div class="row centered">
            <% @mysql.each do |row| %>
              <div class="col-xs-12 col-lg-6">
                <h2 class = "spot"><a href="https://twitter.com/<%= row["screen_name"] %>">@<%= row["screen_name"] %></a></h2>
                <p><%= row["tweet_text"] %></p>
                <div id = "media">
                  <a href="<%= row["media_url"] %>" data-lightbox="image-1" data-title="<%= row["media_url"] %>"><img class = "box img-responsive" src="<%= row["media_url"] %>" alt="Responsive-image"></a>
                </div>
                <p><%= row["created_at"] %></p>
              </div>
            <% end %>
          </div>
        </div>
      </div><!-- Home -->

      <% @tags.each do |row| %>
      <div class="tab-pane" id="<%= row['hashtags'] %>">
        <div class="container w">
          <div class="row centered">
            <div class="content" id="<%= row['hashtags'] %>"></div>
          </div>
        </div>
      </div>
      <% end %>

    </div><!-- tab-content -->

  </div>
</div>
    <div id="f">
      <div class="container">
        <div class="row centered">
          <a href="http://twitter.com/share?text=Let's share your sticker on MacBook -&url=http://macfriends.net/&hashtags=MacFriends&via=MacFriends_" onClick="window.open(encodeURI(decodeURI(this.href)), 'tweetwindow', 'width=650, height=470, personalbar=0, toolbar=0, scrollbars=1, sizable=1'); return false;" rel="nofollow"><i class="fa fa-twitter"></i></a>
          <a href="http://www.facebook.com/share.php?u=http://macfriends.net/" onclick="window.open(this.href, 'FBwindow', 'width=650, height=450, menubar=no, toolbar=no, scrollbars=yes'); return false;"><i class="fa fa-facebook"></i></a>
          <p>Translate by <a href="https://twitter.com/nanophate">@nanophate</a> 2015</p>
          <p>© <a href="https://twitter.com/enkw_">Naoto Enokawa</a> 2015</p>
        </div><!-- row -->
      </div><!-- container -->
    </div><!-- Footer -->
    <p id="page-top"><a href="#wrap">PAGE TOP</a></p>


  <script>
  $('#myTabs a').click(function (e) {
    e.preventDefault();

    var url = $(this).attr("data-url");
    var href = this.hash;
    var pane = $(this);

    // ajax load from data-url
    $(href).load(url,function(result){
      pane.tab('show');
    });
  });

  // load first tab content
  $('#home').load($('.active a').attr("data-url"),function(result){
    $('.active a').tab('show');
  });

  </script>

<script>
  $(function() {
    var tag = $("li.tag");
    // console.log($("li.tag"+"#dj"));
    tag.on("click", function() {
      if(this.id === "home") {
        return;
      }
        var $this = $(this);
        var str = $this.text();
        var param = str.substr(1);
        var uri = "/hashtags/" + param;
        $.ajax({
          type: "GET",
          url: uri,
          success: function(response) {
            var response2 = '';
            for(var i = 0; i < response.length; i++){
              response2 += '<div>';
              response2 += '<div class="col-xs-12 col-lg-6">';
              response2 += '<h2 class = "spot"><a href="https://twitter.com/'+response[i].screen_name+'">'+'@'+response[i].screen_name+'</a></h2>';
              response2 += '<p>'+response[i].tweet_text+'</p>';
              response2 += '<div id = "media">';
              response2 += '<a href="'+response[i].media_url+'" data-lightbox="image-i" data-title="'+response[i].media_url+'"><img class = "box img-responsive" src="'+response[i].media_url+'"></a>';
              response2 += '</div>';
              response2 += '<p>'+response[i].created_at+'</p>';
              response2 += '</div>';
              response2 += '</div>';
            }
            $("div.content#"+param).replaceWith(response2);
          },
      })
    });
  });
</script>

</body>
<html>
