<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="utf-8">
    <meta property="og:title" content="#MacFriends - Share your smile with Macbook">
    <meta property="og:type" content="website">
    <meta property="og:description" content="TwitterにMacbookのステッカーの写真を撮って#macfriendsのタグと一緒に投稿するとその写真を世界中のMacユーザとシェアすることができます。">
    <meta property="og:url" content="http://macfriends.net">
    <meta property="og:image" content="https://pbs.twimg.com/media/BgfaIgMCQAAy9SQ.png:large">
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/bootstrap.css" rel="stylesheet">
    <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-48511895-1', 'macfriends.net');
  ga('send', 'pageview');

</script>
    <title>#MacFriends - Share your smile with Macbook</title>
</head>
<body>
    <div class ="container">
        <div class="header">
        <div class="feed">
            <a href="https://twitter.com/MacFriends_"><img alt="Twitter icon grey" src="/images/twitter_icon_grey.png" /></a>
            <a href="http://rubyfriends.com/tweets.atom"><img alt="Feed icon grey" src="/images/feed_icon_grey.png" /></a>
        </div>
            <img src="images/logo.png">
        </div>

        <div class="jumbotron">
            <h3>Community starts with friendship! <a href="/about" class="btn btn-primary btn-lg" role="button">Learn more &raquo;</a></h3>
            <p>Share your Macbook sticker with the hashtag <a href="https://twitter.com/MacFriends_">#MacFriends</a></p>
        </div>
        <% @results.attrs[:statuses].each do |tweet| %>
			<h2><a href="<%=tweet[:user][:screen_name]%>">@<%=tweet[:user][:screen_name]%></a></h2>
            <p><%= tweet[:text].to_s %></p>
            <% if tweet[:entities][:media] != nil %>
                <img src="<%= tweet[:entities][:media][0][:media_url] %>">
            <% end %>
            <p><%= tweet[:created_at].to_s %></p>
        <hr>
        <% end %>


        <ul class="pagination">
            <li><a href="#">&laquo;</a></li>
            <li><a href="#">1</a></li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">4</a></li>
            <li><a href="#">5</a></li>
            <li><a href="#">&raquo;</a></li>
        </ul>
    </div>
</body>
<html>
