<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta property="og:title" content="#MacFriends - Share your sticker on Macbook">
  <meta property="og:type" content="website">
  <meta property="og:description" content="世界中のMacbookの背面をシェアします。">
  <meta property="og:url" content="http://macfriends.net">
  <meta property="og:image" content="https://pbs.twimg.com/media/BhPgimnCcAAM3DA.png:large">
  <meta name="Description" content="Share your sticker on Macbook with the hashtag #MacFriends" />
  <link href="css/bootstrap1.css" rel="stylesheet">
  <link href="css/lightbox.css" rel="stylesheet" />
  <link href="css/font-awesome.min.css" rel="stylesheet">
  <link href="css/main.css" rel="stylesheet">
  <link rel="alternate" type="application/rss+xml" title="#MacFriends" href="http://rssc.dokoda.jp/r/cda48350a459151cbe5f7c525e141498/http/macfriends.net/">
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
    ga('create', 'UA-48511895-1', 'macfriends.net');
    ga('send', 'pageview');
	</script>
  <script src="js/jquery-1.11.0.min.js"></script>
  <script src="js/lightbox.min.js"></script>
  <script src="js/bootstrap.js"></script>
	<title>#MacFriends - rank</title>
</head>
<body>

  <!-- Fixed navbar -->
  <div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">#MacFriends</a>
      </div>
      <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-right">
          <li><a href="/">HOME</a></li>
          <li><a href="/about">ABOUT</a></li>
          <li class="active"><a href="/rank">RANKING</a></li>
          <li><a href="/category">CATEGORY</a></li>
          <li><a href="https://twitter.com/MacFriends_"><i class="fa fa-twitter"></a></i></li>
        </ul>
      </div><!--/.nav-collapse -->
    </div>
  </div>

  <div id="headerwrap">
    <div class="container">
      <div class="row centered">
        <div class="col-lg-8 col-lg-offset-2">
          <h1>Community starts with friendship!</h1>
          <h2>Share your sticker on Macbook with the hashtag <a href="https://twitter.com/MacFriends_">#MacFriends</a></h2>
        </div>
      </div><!-- row -->
    </div><!-- container -->
  </div><!-- headerwrap -->

  <div class="container w">
    <div class="row centered">
        <% @mysql.each do |row| %>
          <div class="col-xs-12 col-lg-6" >
            <h2 class = "spot"><a href="https://twitter.com/<%= row["scree_name"] %>">@<%= row["screen_name"] %></a></h2>
            <p><%= row["tweet_text"] %></p>
              <div id = "media">
                <a href="<%= row["media_url"] %>" data-lightbox="image-1" data-title="<%= row["media_url"] %>"><img class = "box img-responsive" src="<%= row["media_url"] %>"></a>
              </div>
              <p><%= row["created_at"] %></p>
          </div>
        <% end %>
			</div>
    </div>

      <div id="f">
        <div class="container">
          <div class="row centered">
            <p>Translate by <a href="https://twitter.com/nanophate">@nanophate</a> 2015</p>
            <p>© <a href="https://twitter.com/enkw_">Naoto Enokawa</a> 2015</p>
          </div><!-- row -->
        </div><!-- container -->
      </div><!-- Footer -->
</body>
<html>
