<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="utf-8">
	<meta property="og:title" content="#MacFriends - Share your smile with Macbook">
    <meta property="og:type" content="website">
    <meta property="og:description" content="TwitterにMacbookのステッカーの写真を撮って#macfriendsのタグと一緒に投稿するとその写真を世界中のMacユーザとシェアすることができます。">
    <meta property="og:url" content="http://macfriends.net">
    <meta property="og:image" content="https://pbs.twimg.com/media/BgfaIgMCQAAy9SQ.png:large">
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/bootstrap.css" rel="stylesheet">
    <title>#MacFriends - Share your smile with Macbook</title>
</head>
<body>
    <div class ="container">
        <div class="header">
        <div class="feed">
            <a href="https://twitter.com/MacFriends_"><img alt="Twitter icon grey" src="/images/twitter_icon_grey.png" /></a>
            <a href="http://rubyfriends.com/tweets.atom"><img alt="Feed icon grey" src="/images/feed_icon_grey.png" /></a>
        </div>
            <h1><a href="/">#MacFriends</a></h1>
        </div>

        <div class="jumbotron">
            <h3>Community starts with friendship! <a href="/about" class="btn btn-primary btn-lg" role="button">Learn more &raquo;</a></h3>
            <p>Share your sticker on Macbook with the hashtag <a href="https://twitter.com/MacFriends_">#MacFriends</a></p>
        </div>
	
		<div class="row">
			<% @timeline.each do |res| %>
				<% if res.retweeted_tweet.media[0] != nil %>
					<div class="col-lg-6">
						<h2><a href="https://twitter.com/<%= "#{res.retweeted_tweet.user.screen_name}" %>">@<%= "#{res.retweeted_tweet.user.screen_name}" %></a></h2>
           		 	   	<p><%= res.retweeted_tweet.text %></p>
               		 	<img src="<%= res.retweeted_tweet.media[0].media_url %>">
					 	<p><%= "#{res.retweeted_tweet.created_at}" %></p>
        			</div>
				<% end %>
			<% end %>
		</div>

		<div class="footer">
			<hr>
			<p>Translate by <a href="https://twitter.com/nanophate">@nanophate</a> 2014</p>
			<p>© <a href="https://twitter.com/enkw_">Naoto Enokawa</a> 2014</p>
		</div>

	</div>
</body>
<html>
