<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="utf-8">
	<meta property="og:title" content="#MacFriends - Share your sticker on Macbook">
    <meta property="og:type" content="website">
    <meta property="og:description" content="世界中のMacbookの背面をシェアします。">
    <meta property="og:url" content="http://macfriends.net">
    <meta property="og:image" content="https://pbs.twimg.com/media/BhPgimnCcAAM3DA.png:large">
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/bootstrap.css" rel="stylesheet">
	<link rel="alternate" type="application/rss+xml" title="#MacFriends" href="http://rssc.dokoda.jp/r/cda48350a459151cbe5f7c525e141498/http/macfriends.net/">
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script src="http://scripts.embed.ly/jquery.embedly.min.js"></script>
    <script type="text/javascript">
      $(function(){
        $("hoge").embedly({
          // ここはそれぞれのAPIキーに置き換えてください
          key:"d483853e76a84ac680c74ad35fdb505a"
        });
      });
    </script>
    <title>#MacFriends - Share your smile with Macbook</title>
</head>
<body>
    <div class ="container">
        <div class="header">
        <div class="feed">
            <a href="https://twitter.com/MacFriends_"><img alt="Twitter icon grey" src="/images/twitter_icon_grey.png" /></a>
            <a href="http://rssc.dokoda.jp/r/cda48350a459151cbe5f7c525e141498/http/macfriends.net/"><img alt="Feed icon grey" src="/images/feed_icon_grey.png" /></a>
        </div>
            <h1><a href="/">#MacFriends</a></h1>
        </div>

        <div class="jumbotron">
            <h3>Community starts with friendship! <a href="/about" class="btn btn-primary btn-lg" role="button">Learn more &raquo;</a></h3>
            <p>Share your sticker on Macbook with the hashtag <a href="https://twitter.com/MacFriends_">#MacFriends</a></p>
        </div>
	
		
		<div class="row">
            <% @timeline.each do |res| %>
                <% if res.retweeted_tweet.media[0] != nil %>
                	<% if res.retweeted_tweet.user.screen_name.to_s != '' %>
                    	<div class="col-lg-6">
                            <h2><a href="https://twitter.com/<%= "#{res.retweeted_tweet.user.screen_name}" %>">@<%= "#{res.retweeted_tweet.user.screen_name}" %></a></h2>
                        	<p><%= res.retweeted_tweet.text %></p>
                        	<img src="<%= res.retweeted_tweet.media[0].media_url %>">
                        	<p><%= "#{res.retweeted_tweet.created_at}" %></p>
                    	</div>
                	<% end %>
                <% end %>
            <% end %>
        </div>


		<div class="footer">
			<hr>
			<p>Translate by <a href="https://twitter.com/nanophate">@nanophate</a> 2014</p>
			<p>© <a href="https://twitter.com/enkw_">Naoto Enokawa</a> 2014</p>
		</div>

	</div>
</body>
<html>
